#language-switcher {
    position: fixed;
    top: 0.7em;
    right: 3em;
    z-index: 1000;
}

#lang-select {
    background: #ffffff;
    color: #333333;
    border: 1px solid #dcdcdc;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

#lang-select:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* Slightly more prominent shadow on hover */
}